@model exchangeRecord_ViewModel


@{
    ViewData["Title"] = "Details";
}
@section Styles {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fw-bold {
            font-weight: bold;
        }
    </style>
}



<div>
    <h4>扭蛋交換紀錄</h4>
    <hr />
    <div class="container">
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.id)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.id)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.UserName)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.UserNameTo)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.UserNameTo)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.GachaNameFrom)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.GachaNameFrom)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.GachaNameTo)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.GachaNameTo)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.ExchangeDate)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.ExchangeDate)
            </div>
        </div>
    </div>
</div>

<div>
    @*DO NOT USE <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> | DO NOT USE*@
    @* <a asp-action="Index">Back to List</a> *@
</div>
