@model IEnumerable<exchangeRecord_ViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />

    <style>
        thead {
            background-color: #F6EEA2;
            color: BLACK;
        }
    </style>
}

<h1>Index</h1>
<h3>交換紀錄</h3>

@*DO NOT USE
    <p>
    <a asp-action="Create">Create New</a>
</p>
DO NOT USE*@



<div id="sankey_basic" style="width: 900px; height: 300px;"></div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.UserName)
            </th> *@
            @* <th>
            @Html.DisplayNameFor(model => model.UserNameTo)
            </th>*@
            @* <th>
            @Html.DisplayNameFor(model => model.GachaNameFrom)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.GachaNameTo)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ExchangeDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.UserNameTo)
            </td> *@
                @* <td>
            @Html.DisplayFor(modelItem => item.GachaNameFrom)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.GachaNameTo)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.ExchangeDate)
                </td>
                <td>
                    @*  DO NOT USE
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                DO NOT USE *@
                    @*  <a asp-action="Details" asp-route-id="@item.id">Details</a> *@
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exchangeModal-@item.id">
                        Detail
                    </button>

                </td>
            </tr>
            <div class="modal fade" id="exchangeModal-@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exchangeModal-@item.id">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="_exchangeRecords_Partial" model="@item">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            @* <button type="button" class="btn btn-primary">Save changes</button> *@
                        </div>
                    </div>
                </div>
            </div>

        }
    </tbody>


</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha512-ztxZscxb55lKL+xmWGZEbBHekIzy+1qYKHGZTWZYH1GUwxy0hiA18lW6ORIMj4DHRgvmP/qGcvqwEyFFV7OYVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        $(document).ready(function () {
            // alert("love you tate");
            $('table').DataTable();

        });
        function myFunction() {
            alert("test this button");
        }



    </script>
    @*Google Chart Start*@

    <script type="text/javascript">

        $(document).ready(function () {
            $('table').DataTable();

            google.charts.load('current', { 'packages': ['sankey'] });
            google.charts.setOnLoadCallback(drawChart);
        });
        @{
            var exchangeRecords = Model as List<exchangeRecord>;
        }


            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'From');
                data.addColumn('string', 'To');
                data.addColumn('number', 'Excahnge Time');
                data.addRows([
                    // ['BASEFOOD麵包-巧克力', '紅色外星人NarabuWiener', 1],
                    // ['等待麵包-蛋三明治', '酒種紅豆麵包櫻花餡 & 小禮盒', 1],
                    // ['等待麵包-蛋三明治', '紅色外星人NarabuWiener', 1],
                    // ['BASEFOOD麵包-巧克力', '酒種紅豆麵包櫻花餡 & 小禮盒', 1],
                    // ['經典蛋包飯', '吉伊卡哇系列-吉伊卡哇', 2],
                    // ['蠟筆小新烤肉系列-小新和肉', '葬送的芙莉蓮系列-芙莉蓮A', 1],
                    // ['我獨自升級系列-成振宇A', '怪獸電力公司系列-毛怪', 1],
                    // ['我獨自升級系列-成振宇A', '怪獸電力公司系列-毛怪', 2],
                    // ['我獨自升級系列-7788', '怪獸電力公司系列-KNNN', 2],
                    // ['BASEFOOD麵包-7788', 'yellow外星人NarabuWiener', 1],
                    // ['等待麵包-9988', 'RED紅豆麵包櫻花餡 & 小禮盒', 1],
                    // ['BASEFOOD麵包-巧克力', '葬送的芙莉蓮系列-芙莉蓮A', 1],
                    // ['經典蛋包飯', '怪獸電力公司系列-毛怪', 2],
                    // ['蠟筆小新烤肉系列-小新和肉', '紅色外星人NarabuWiener', 1],
                    // ['蠟筆小新烤肉系列-小新和肉', 'RED紅豆麵包櫻花餡 & 小禮盒', 1],
        @foreach (var record in exchangeRecords)
        {
            @:['@record.gachaIdFrom', '@record.gachaIdTo', @record.exchangeDate],
        }
        ]);

                // Replace this with your logic to populate data from Model
                data.addRows(Model.Select(item => [
                    item.GachaNameFrom,
                    item.GachaNameTo,
                    1 // Replace with your logic for exchange times (e.g., random number)
                ]).Concat( // Simulate creating new exchange records
                    Array.from({ length: 5 }, () => [ // Generate 5 random exchange records
                        GenerateRandomProductName(),
                        GenerateRandomProductName(),
                        Math.floor(Math.random() * 3) + 1 // Random exchange times (1-3)
                    ])
                ));


                // Sets chart options.
                var options = {
                    width: 1200,
                };

                // Instantiates and draws our chart, passing in some options.
                var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
                chart.draw(data, options);
            }
    </script>

    @*Google Chart End *@

}
