@model IEnumerable<exchangeRecord_ViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    @* REMEBER TO USE "asp-append-version" FOR A QUICKER VERSION *@
    <link href="~/css/datatables.css" rel="stylesheet" />
}

<h3>交換紀錄</h3>

@*DO NOT USE
    <p>
    <a asp-action="Create">Create New</a>
</p> 
DO NOT USE*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserNameTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GachaNameFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GachaNameTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UserNameTo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.GachaNameFrom)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.GachaNameTo)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExchangeDate)
                </td>
            <td>
                <a class="button" asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-list"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/datatables.js"></script>
}
