@model gacha.Models.userInfo

@{
    ViewData["Title"] = "Details";
}


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Model.address.Replace("_", "")
            @* @Html.DisplayFor(model => model.address) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
    </dl>
</div>