@model IEnumerable<userInfo>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    @* REMEBER TO USE "asp-append-version" FOR A QUICKER VERSION *@
        <link href="~/css/datatables.css" rel="stylesheet" / >
    <style>
        .city, .town {
            width: 100%;
        }

        .county {
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            width: calc(15% - 10px)
        }

        .district {
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            width: calc(20% - 10px)
        }

        .road {
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            width: calc(65% - 10px)
        }
    </style>
}

<h3>會員基本資料</h3>


<p>
    <a asp-action="Create" class="btn button"><i class="fa-solid fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                 <a class="button" href="" data-bs-toggle="modal" data-bs-target="#editModal-@item.id"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="button" asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-list"></i></a>
                <a class="button" asp-action="Delete" asp-route-id="@item.id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>

            <!-- Modal -->
            <div class="modal fade modal-lg" id="editModal-@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">編輯會員資料</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="_userInfoes_partial" model="@item">

                        </div>
                       
                    </div>
                </div>
            </div>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.15-rc1/jquery.twzipcode.min.js"></script>
    <script>

        $(document).ready(function () {
            $(".twzipcode-modal").twzipcode({
                // countySel: "臺北市", // 城市預設值, 字串一定要用繁體的 "臺", 否則抓不到資料
                // districtSel: "大安區", // 地區預設值
                zipcodeIntoDistrict: true, // 郵遞區號自動顯示在地區
                css: ["city form-control", "town form-control"], // 自訂 "城市"、"地區" class 名稱
                countyName: "city", // 自訂城市 select 標籤的 name 值
                districtName: "town" // 自訂地區 select 標籤的 name 值
            });


            $('#editForm').on('submit', function (e) {
                e.preventDefault(); // 防止表單立即提交

                let county = $('.county select').val();
                let district = $('.district select').val();
                let road = $('.road').val();
                let fullAddress = county + district + road;
                // console.log(fullAddress);

                $('#fullAddress').val(fullAddress); // 將完整地址設置到隱藏輸入欄位
                // 提交表單
                this.submit();

            });
        });
    </script>
}