@model gacha.Models.shipping


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>出貨表</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.id) | @Html.DisplayFor(model => model.user.userName)
        </dd>
        @* <dd class="col-sm-10">
            
        </dd> *@

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippingFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippingFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
