@model IEnumerable<gacha.Models.shipping>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.css" rel="stylesheet" />

    <style>
        /* 出貨卡片的顏色 */
        .btn-selected {
            background-color: #F6EEA2;
        }
        .card:hover {
            background-color: #FFFFCE;
            }
    </style>
}

<h1>出貨單</h1>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div id ="shipping" class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="fs-3 font-weight-bold text-primary text-uppercase mb-1">
                            已發貨
                        </div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@ViewBag.shipping_count</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-truck-fast fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div id="await" class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="fs-3 font-weight-bold text-success text-uppercase mb-1">
                            待處理
                        </div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@ViewBag.await_count</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-cubes fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div id="cancel" class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="fs-3 font-weight-bold text-info text-uppercase mb-1">
                            已取消
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.cancel_count</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-rotate-left fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div id="done" class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="fs-3 font-weight-bold text-warning text-uppercase mb-1">
                            已完成
                        </div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">@ViewBag.done_count</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-hand-holding-dollar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

@* <div class="btn-group" role="group" aria-label="Status Filters">
    <div id="all" class="card btn btn-selected">
        <div class="card-body">
            <h5 class="card-title">全部</h5>
            <p class="card-text">@ViewBag.all_count</p>
        </div>
    </div>
    <div id="shipping" class="card btn ">
        <div class="card-body">
            <h5 class="card-title">已發貨</h5>
            <p class="card-text">@ViewBag.shipping_count</p>
        </div>
    </div>
    <div id="await" class="card btn ">
        <div class="card-body">
            <h5 class="card-title">待處理</h5>
            <p class="card-text">@ViewBag.await_count</p>
        </div>
    </div>
    <div id="cancel" class="card btn ">
        <div class="card-body">
            <h5 class="card-title">已取消</h5>
            <p class="card-text">@ViewBag.cancel_count</p>
        </div>
    </div>
    <div id="done" class="card btn ">
        <div class="card-body">
            <h5 class="card-title">已完成</h5>
            <p class="card-text">@ViewBag.done_count</p>
        </div>
    </div>
</div>
 *@
<table id="table" class="table my-3">

</table>
@foreach (var item in Model)
{
    @* DetailModal *@
    <div class="modal fade" id="shippingDetail-@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">出貨明細</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="_shippingDetail_partial" model="@item.id">
                </div>
            </div>
        </div>
    </div>
    @* EditModal *@
    <div class="modal fade" id="shippingEdit-@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">編輯出貨單</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="_shippingEdit_partial" model="@item">
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/delete_sweetalert.js"></script>
    <script src="~/js/delete_function_sweetalert.js"></script>

    <script>
        function updateShipping(statusChinese) {
            $.ajax({
                type: "GET",
                url: `@Url.Action("ShippingStatus", "shippings")/${statusChinese}`,
            }).done(data => {

                // 在加載新數據後重新初始化 DataTables
                // 抓到table並塞入資料data
                $('table').html(data).DataTable();

            }).fail(err => {
                alert(err.responseText);
            });
        }

        $(document).ready(function () {
            // 初始化時設置"全部"卡片為選中狀態
            $('#all').addClass('btn-selected');
            updateShipping("全部");

            $('.card').on('click', function (e) {
                let card = $(this);
                let statusID = card.attr('id');
                var statusChinese = "";
                switch (statusID){
                    case "all":
                        statusChinese = "全部"
                        break;
                    case "shipping":
                        statusChinese = "已發貨"
                        break;
                    case "await":
                        statusChinese = "待處理"
                        break;
                    case "cancel":
                        statusChinese = "已取消"
                        break;
                    case "done":
                        statusChinese = "已完成"
                        break;
                }
                console.log(statusChinese);
                updateShipping(statusChinese);

                // 更新選中狀態
                $('.card').removeClass('btn-selected');
                card.addClass('btn-selected');
            });
            
        });
        // $('table').DataTable();

    </script>

   
}
