
@model IEnumerable<trackingList_ViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    @* REMEBER TO USE "asp-append-version" FOR A QUICKER VERSION *@
    <link href="~/css/datatables.css" rel="stylesheet" />
}

<h3>追蹤清單</h3>

@* DO NOT USE <p>
    <a asp-action="Create">Create New</a>
</p> DO NOT USE *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GachaMachineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.TrackingDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NoteStatus)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.GachaMachineName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                    @* <a class="button" asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-list"></i></a> *@

                @Html.ActionLink("Details", "Details", new { id = item.UserId, mId = item.GachaMachineId }) 
                @*DO NOT USE @Html.ActionLink("Edit", "Edit", new { id = item.UserId, mId = item.GachaMachineId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId, mId = item.GachaMachineId }) DO NOT USE*@
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/datatables.js"></script>
}