@model IEnumerable<gacha.Models.trackingList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.trackingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noteStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gachaMachine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trackingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noteStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gachaMachine.machineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.userId }) |
                @* @Html.ActionLink("Details", "Details", new { id=item.PrimaryKey }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PrimaryKey }) *@
            </td>
        </tr>
}
    </tbody>
</table>
