@model IEnumerable<gacha.Models.gachaProduct>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
}

<h3>商品管理</h3>
<p>
    <a asp-action="Create" class="btn button"><i class="fa-solid fa-plus"></i></a>
    <a class="btn button" asp-action="Create" data-bs-toggle="modal" data-bs-target="#gachaProductCreateModal">
        <i class="fa-solid fa-plus fa-lg"></i>
    </a>
    <!-- Create New Modal Start -->
    <div class="modal fade" id="gachaProductCreateModal" tabindex="-1" aria-labelledby="gachaProductCreateLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @* <h5 class="modal-title" id="gachaProductCreateLabel">Create New Product</h5> *@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <partial name="_gachaProductCreate_Partial" model="new gachaProduct()"></partial>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPictureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                <partial name="_ShowProductImagePartial" model="item" />
                @* @Html.DisplayFor(modelItem => item.productPictureName) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.machine.machineName)
            </td>
             <td>
                    @* <a class="button" asp-action="Edit" asp-route-id="@item.id"><i class="fa-solid fa-pen-to-square"></i></a> *@
                    @* <a class="button" asp-action="Delete" asp-route-id="@item.id"><i class="fa-solid fa-trash"></i></a> *@
                    @* <a class="button" asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-list"></i></a> *@
                    <a class="btn button mb-2" href="" data-bs-toggle="modal" data-bs-target="#gachaMachineEditModal-@item.id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="button delete mb-2" onclick="return Confirm(this)">
                        <i class="fa-solid fa-trash"></i>
                    </a>
            </td>
        </tr>
            <!-- Edit Modal -->
            @* <div class="modal fade" id="gachaMachineEditModal-@item.id" tabindex="-1" aria-labelledby="gachaMachineEditModalLabel-@item.id" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gachaMachineEditModalLabel-@item.id">Edit Gacha Machine</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <partial name="_gachapProductEdit_Partial" model="@item"></partial>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
}
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script>
        // Bootstrap validation for create/edit forms
        (function () {
            'use strict';

            // Fetch all forms to apply custom Bootstrap validation styles
            var forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>
}