@model IEnumerable<gacha.Models.gachaProduct>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.css" rel="stylesheet" />

}

<h1>商品管理</h1>
<p>
    <a asp-action="Create" class="btn button"><i class="fa-solid fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPictureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                <partial name="_ShowProductImagePartial" model="item" />
                @* @Html.DisplayFor(modelItem => item.productPictureName) *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.machine.machineName)
            </td>
             <td>
                    <a class="button" asp-action="Edit" asp-route-id="@item.id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="button" asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-list"></i></a>
                    <a class="button" asp-action="Delete" asp-route-id="@item.id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                // pageLength: '2',//預設為'10'，若需更改初始每頁顯示筆數，才需設定
                fixedHeader: {
                    header: true,
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/zh-HANT.json',
                },
                columnDefs: [
                    {
                        targets: '_all',
                        className: 'text-center',
                    }
                ],
            });
            // 換頁時回到最上面
            $('table').on('page.dt', function () {
                $('html, body').animate({
                    scrollTop: $(".dataTables_wrapper").offset().top
                }, 50);
            });
        });
    </script>
}