@model IEnumerable<gacha.Models.admin>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/css/datatables.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
}

<h3>管理員</h3>

<p>
    <a asp-action="Create" class="button"><i class="fa-solid fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role.title)
            </td>
            <td>
                    <a asp-action="Edit" class="button" asp-route-id="@item.account"><i class="fa-solid fa-pen-to-square"></i></a>
                <a asp-action="Delete" asp-route-id="@item.account" class="button delete" onclick="return Confirm(this)">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/js/delete_function_sweetalert.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/js/datatables.js"></script>
}
