@model IEnumerable<admin_ViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Styles {

    <link href="~/css/datatables.css" rel="stylesheet" />

}

<h1>管理員</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    <a class="btn button" data-bs-toggle="modal" data-bs-target="#adminCreateModal">
        <i class="fa-solid fa-plus fa-lg"></i>
    </a>
    @* creat new modal start *@
    <div class="modal fade" id="adminCreateModal" tabindex="-1" aria-labelledby="adminCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @* <h5 class="modal-title" id="createModalLabel">Create New Activity Type</h5> *@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <partial name="_adminCreate_Partial" model="new gacha.ViewModels.admin_ViewModel()"></partial>
                    </div>
                </div>
                @*  <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> *@
            </div>
        </div>
    </div>
    @* creat new modal end *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.password)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.password)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.account">Edit</a> | *@
                    <div class="#">
                        <a class="btn button mb-2 me-2" href="" data-bs-toggle="modal" data-bs-target="#adminEditModal-@item.account">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        
                    </div>
                    <div>
                        <a type="button"  class="btn button mb-2 deleteBtn" asp-action="Delete" asp-route-id="@item.account"> <i class="fa-solid fa-trash"></i></a>
                    </div>
                    @* <a asp-action="Details" asp-route-id="@item.account"><i class="fa-solid fa-list fa-lg"></i></a> | *@

                </td>
            </tr>
        }
    </tbody>
</table>
@foreach (var item in Model)
{
    @* edit modal start *@
    <div class="modal fade" id="adminEditModal-@item.account" tabindex="-1" aria-labelledby="adminEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @* <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> *@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="_adminEdit_Partial" model="@item" />
                </div>
                @* <div class="modal-footer justify-content-end d-flex">
            <button type="button" class="btn btn-secondary justify-content-end" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
            </div> *@
            </div>
        </div>
    </div>
    @* edit modal end *@
}
@section Scripts {
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> *@
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_zh_TW.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script>
        $(document).ready(function () {
            console.log("Document ready");
            if (!$.fn.DataTable.isDataTable('table')) {
                console.log("Initializing DataTable");
                $('table').DataTable({
                    fixedHeader: {
                        header: true,
                    },
                    language: {
                        url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/zh-HANT.json',
                    },
                    columnDefs: [
                        {
                            targets: '_all',
                            className: 'text-center'
                        }
                    ],
                });
            } else {
                console.log("DataTable already initialized");
            }

            // 換頁時回到最上面
            $('table').on('page.dt', function () {
                $('html, body').animate({
                    scrollTop: $(".dataTables_wrapper").offset().top
                }, 50);
            });

           

               
        });

        $("#createForm").submit(function (e) {
            e.preventDefault();

            // 手動觸發客戶端驗證
            var form = $(this);
            if (form.valid()) {
                $.ajax({
                    url: form.attr("action"),
                    type: "POST",
                    data: form.serialize(),
                    success: function (response) {
                        if (response.success) {
                            // 成功邏輯
                            $('#createModal').modal('hide');
                            //alert(response.message); //change to sweetalert
                            Swal.fire({
                                title: '成功',
                                text: response.message,
                                icon: 'success',
                                confirmButtonText: 'Ok'

                            }).then((result) => {
                                location.reload();
                            });
                        } else {
                            // 顯示伺服器端驗證錯誤
                            let errorList = $('#errorList');
                            errorList.empty();  // 清空以前的錯誤訊息
                            //alert(response.message);
                            Swal.fire({
                                title: '失敗',
                                text: response.message,
                                icon: 'error',
                                confirmButtonText: 'Ok'

                            });
                            response.errors.forEach(function (error) {
                                errorList.append('<li class="text-danger">' + error + '</li>');
                            });

                        }
                    }
                });
            } else {
                // 如果表單無效，則不進行AJAX提交
                console.log("表單驗證失敗");
            }
        });
        $(".deleteBtn").on("click", function (e) {
            e.preventDefault(); // 阻止默認的鏈接行為

            var url = $(this).attr('href'); // 獲取刪除操作的URL
            Swal.fire({
                title: '刪除',
                text: '確定要刪除嗎?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '確定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    // 用戶確認後執行刪除操作
                    $.ajax({
                        url: url,
                        type: 'DELETE', // 假設你使用的是RESTful DELETE操作
                        success: function (response) {
                            // 刪除成功，顯示提示並移除項目
                            Swal.fire('刪除成功', '該項目已被刪除', 'success').then((result) => {
                                location.reload(); // 成功後重新載入頁面
                            });
                        },
                        error: function () {
                            Swal.fire('刪除失敗', '刪除過程中出現問題', 'error');
                        }
                    });
                }
            })
        });


  
    </script>
}

