@model IEnumerable<activity_ViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />

    <style>
        thead {
            background-color: #F6EEA2;
            color: BLACK;
        }
    </style>
}

<h1>Index</h1>
<h3>活動</h3>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activityStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activityEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activityTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activityStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activityEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activityTypeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> 
                    @* <a asp-action="Details" asp-route-id="@item.id">Details</a> | *@
                    @* <a asp-action="Delete" asp-route-id="@item.id">Delete</a> *@
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#activityEditModal-@item.id">
                        Edit
                    </button>
                </td>
            </tr>
            @* edit modal start *@
            <div class="modal fade" id="activityEditModal-@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            @* <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> *@
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="_activityEdit_Partial" model="@item" />
                        </div>
                        <div class="modal-footer">
                            @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> *@
                            @*  <button type="button" class="btn btn-primary">Save changes</button>  *@
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}