@model IEnumerable<gacha.Models.gachaTheme>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="~/css/datatables.css" rel="stylesheet" />

}
<h1>主題管理</h1>

<p>
    <a asp-action="Create" class="btn button">新增主題</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.themeName)
            </th>
            <th>功能</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.themeName)
            </td>
            <td>
                <a class="button" asp-action="Edit" asp-route-id="@item.id">編輯</a>
                <a class="button" asp-action="Details" asp-route-id="@item.id">查看</a>
                <a class="button" asp-action="Delete" asp-route-id="@item.id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/datatables/js/jquery.datatables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.bootstrap5.js"></script>
    <script src="~/js/datatables.js"></script>
}