@model IEnumerable<gacha.Models.gachaMachine>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.css" rel="stylesheet" />


}
<h1>機台管理</h1>

<p>
    <a asp-action="Create" class="btn button"><i class="fa-solid fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machineDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machinePictureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.machineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.machineDescription)
            </td>
            <td>
                    <partial name="_ShowMachineImagePartial" model="item" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.theme.themeName)
            </td>
            <td>
                    <a class="button" asp-action="Edit" asp-route-id="@item.id"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="button" asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-list"></i></a>
                    <a class="button" asp-action="Delete" asp-route-id="@item.id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                fixedHeader: {
                    header: true,
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/zh-HANT.json',
                },
            });
        });
    </script>
}