@model IEnumerable<gacha.Models.gachaMachine>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="~/css/datatables.css" rel="stylesheet" />
}
<h1>機台管理</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.machineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machineDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.machinePictureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.machineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.machineDescription)
            </td>
            <td>
                @* <img src="~/img/@Html.DisplayFor(modelItem => item.machinePictureName)" /> *@
                    <partial name="_ShowPicturePartial" model="item"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.theme.themeName)
            </td>
            <td>
                <a class="button" asp-action="Edit" asp-route-id="@item.id">Edit</a>
                <a class="button" asp-action="Details" asp-route-id="@item.id">Details</a>
                <a class="button" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script src="~/datatables/js/jquery.datatables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.bootstrap5.js"></script>
    <script src="~/js/datatables.js"></script>
}