@model IEnumerable<gacha.Models.rechargePlan>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.css" rel="stylesheet" />

}

<h3>儲值方案管理</h3>

<p>
    @* <a class="btn button" asp-action="Create"><i class="fa-solid fa-plus"></i></a> *@
    <a class="btn button" asp-action="Create" data-bs-toggle="modal" data-bs-target="#rechargePlanCreateModal">
        <i class="fa-solid fa-plus"></i>
    </a>

    @* create new modal start *@
    <div class="modal fade" id="rechargePlanCreateModal" tabindex="-1" aria-labelledby="rechargePlanCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @* <h5 class="modal-title" id="rechargePlanCreateModalLabel">Create New Recharge Plan</h5> *@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <partial name="_rechargePlanCreate_Partial" model="new gacha.Models.rechargePlan()"></partial>
                    </div>
                </div>
                @*  <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> *@
            </div>
        </div>
    </div>
    @* create new modal end *@


</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedAt)
            </th>
            <th>功能</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.point)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updatedAt)
                </td>
                <td>
                    @*  <a class="button" asp-action="Edit" asp-route-id="@item.id"><i class="fa-solid fa-pen-to-square"></i></a> *@
                    @* <a class="button" asp-action="Details" asp-route-id="@item.id"><i class="fa-solid fa-list"></i></a> *@
                    <div class="d-flex flex-column">
                        <a class="btn button mb-2" href="" data-bs-toggle="modal" data-bs-target="#rechargePlanEditModal-@item.id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn button mb-2" onclick="return Confirm(this)">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            @* Edit Start *@
            <div class="modal fade" id="rechargePlanEditModal-@item.id" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal(@item.id)"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="_rechargePlanEdit_Partial" model="@item">
                        </div>

                    </div>
                </div>
            </div>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script>
        var a = 0;
        
        $(document).ready(function () {

            $('.modal').on('hidden.bs.modal', function (e) {
                $(this).find('form').get(0).reset();
            });

            $('table').DataTable({
                fixedHeader: {
                    header: true,
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/zh-HANT.json',
                },
                columnDefs: [
                    {
                        targets: '_all',
                        className: 'text-center'
                    }
                ],
            });
            // 換頁時回到最上面
            $('table').on('page.dt', function () {
                $('html, body').animate({
                    scrollTop: $(".dataTables_wrapper").offset().top
                }, 50);
            });
            $(document).on('shown.bs.modal', function (e) {
                var modal = $(e.target); // Get the modal that is opened
                var priceInput = modal.find('#price');
                var pointInput = modal.find('#point');
                priceInput.on('input', function () {
                    pointInput.val(priceInput.val());


                });

                    $("#close").on("click", function () {
                        $("#price").val(priceInput);
                        $("#point").val(priceInput);
                    });
            });


            $("#createForm").submit(function (e) {
                e.preventDefault();

                // 手動觸發客戶端驗證
                var form = $(this);
                if (form.valid()) {
                    $.ajax({
                        url: form.attr("action"),
                        type: "POST",
                        data: form.serialize(),
                        success: function (response) {
                            if (response.success) {
                                // 成功邏輯
                                $('#createModal').modal('hide');
                                //alert(response.message); //change to sweetalert
                                Swal.fire({
                                    title: '成功',
                                    text: response.message,
                                    icon: 'success',
                                    confirmButtonText: 'Ok'

                                }).then((result) => {
                                    location.reload();
                                });
                            } else {
                                // 顯示伺服器端驗證錯誤
                                let errorList = $('#errorList');
                                errorList.empty();  // 清空以前的錯誤訊息
                                //alert(response.message);
                                Swal.fire({
                                    title: '失敗',
                                    text: response.message,
                                    icon: 'error',
                                    confirmButtonText: 'Ok'

                                });
                                response.errors.forEach(function (error) {
                                    errorList.append('<li class="text-danger">' + error + '</li>');
                                });

                            }
                        }
                    });
                } else {
                    // 如果表單無效，則不進行AJAX提交
                    console.log("表單驗證失敗");
                }
            });
            
        });
        function Confirm(element) {
            // 使用 SweetAlert2 來顯示確認對話框
            Swal.fire({
                title: "是否確認要刪除?",
                icon: "warning",
                showDenyButton: true, // 顯示「否」按鈕
                confirmButtonText: "是", // 「是」按鈕的文字
                denyButtonText: "否", // 「否」按鈕的文字
                confirmButtonColor: '#d33', // 設置「是」按鈕為紅色
                denyButtonColor: '#3085d6', // 設置「否」按鈕為藍色
            }).then((result) => {
                // 判斷用戶選擇的按鈕
                if (result.isConfirmed) {
                    // 用戶選擇了「是」，繼續刪除操作，導航到新的URL
                    window.location.href = element.href;
                } else if (result.isDenied) {
                }
                // 如果用戶選擇了「取消」，什麼都不做
            });
            return false; // 防止 a 標籤的預設行為
        }


        $(document).on('hidden.bs.modal', function (e) {
            if (!saveButtonClicked) {
                var modal = $(e.target);
                var form = modal.find('form')[0];
                if (form) {
                    form.reset();
                }
            }
            saveButtonClicked = false;
        });


      

            //a = modal.find('#price');
   
    </script>
}
