@model rechargeList_ViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>儲值紀錄</h4>

    <div class="container">
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.RechargePlan)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.RechargePlan)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.amount)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.amount)
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.quantity)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.quantity)
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.paymentMode)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.paymentMode)
            </div>
        </div>
 
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.rechargeDate)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.rechargeDate)
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.userName)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.userName)
                @ViewBag.userName
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4 fw-bold">
                @Html.DisplayNameFor(model => model.rechargeTotalPrice)
            </div>
            <div class="col-8">
                @Html.DisplayFor(model => model.rechargeTotalPrice)
            </div>
        </div>

    </div>
</div>

<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> | *@
    @* <a asp-action="Index">Back to List</a> *@
</div>
