@model rechargeList_ViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>rechargeList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rechargePlanId)
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.rechargePlanId) *@
            @ViewBag.rechargeName
        </dd>
        @* <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.rechargePlan)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.rechargePlan)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        @*  <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.userName)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.paymentMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.paymentMode)
        </dd>

        <dt class="col-sm-2">
            總價錢
        </dt>
        <dd class="col-sm-10">

            @ViewBag.rechargeTotalPrice
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rechargeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rechargeDate)
        </dd>

    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
