@model IEnumerable<rechargeList_ViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    @* REMEBER TO USE "asp-append-version" FOR A QUICKER VERSION *@
    <link href="~/css/datatables.css" rel="stylesheet" />
}


<h3>儲值紀錄</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.paymentMode)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.rechargePlanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.paymentMode)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.rechargePlanId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
               

                <td>
                    @*< a asp-action="Edit" asp-route-id="@item.id">Edit</a> | *@
                   @*  <a asp-action="Details" asp-route-id="@item.id">Details</a> *@
                    @* <a asp-action="Delete" asp-route-id="@item.id">Delete</a> *@
                    <a class="button" data-bs-toggle="modal" data-bs-target="#rechargeListModal-@item.id">
                        <i class="fa-solid fa-list fa-lg"></i>
                    </a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
@foreach (var item in Model)
{
    <div class="modal fade" id="rechargeListModal-@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*  <h5 class="modal-title" id="rechargeListModal-@item.id"></h5> *@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="_rechargeLists_Partial" model="@item">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @* <button type="button" class="btn btn-primary">Save changes</button> *@
                </div>
            </div>
        </div>
    </div>
    
}
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/datatables.js"></script>
}