@model IEnumerable<gacha.Models.permission>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    @* REMEBER TO USE "asp-append-version" FOR A QUICKER VERSION *@
    <link href="~/css/datatables.css" rel="stylesheet" />
    <style>
        thead {
            background-color: #F6EEA2;
            color: BLACK;
        }
    </style>
}

<h3>權限</h3>
<p>
    <a class="btn button mb-2" asp-action="Create" data-bs-toggle="modal" data-bs-target="#permissionCreateModal">
        <i class="fa-solid fa-plus fa-lg"></i>
    </a>
    @* creat new modal start *@
    <div class="modal fade" id="permissionCreateModal" tabindex="-1" aria-labelledby="permissionCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @* <h5 class="modal-title" id="createModalLabel">Create New Activity Type</h5> *@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <partial name="_permissionsCreate_Partial" model="new permission()"></partial>
                    </div>
                </div>
                @*  <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div> *@
            </div>
        </div>
    </div>
    @* creat new modal end *@
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.permissionDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.permissionDesc)
                </td>
                <td>
                    @*   <a asp-action="Details" asp-route-id="@item.id">Details</a> *@
                    @* DO NOT USE <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>| DO NOT USE*@
                    <button type="button" class="btn button mb-2" data-bs-toggle="modal" data-bs-target="#permissionModal-@item.id">
                        <i class="fa-solid fa-list fa-lg"></i>
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="permissionModal-@item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*  <h5 class="modal-title" id="permissionModal-@item.id">Modal title</h5> *@
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="_permissions_Partial" model="@item">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            @* <button type="button" class="btn btn-primary">Save changes</button> *@
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha512-ztxZscxb55lKL+xmWGZEbBHekIzy+1qYKHGZTWZYH1GUwxy0hiA18lW6ORIMj4DHRgvmP/qGcvqwEyFFV7OYVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            // alert("love you tate");
            $('table').DataTable();
        });
        //CREATE/EDIT Partial Bootstrap Validation
        (function () {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>
}