@model IEnumerable<gacha.Models.permission>

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/datatables/css/jquery.datatables_themeroller.min.css" rel="stylesheet" />
    <style>

    </style>
}
<h1>Index</h1>

<p>
 @*    <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.permissionDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.permissionDesc)
            </td>
            <td>
                    @* <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.id">Details</a> 
                    @*<a asp-action="Delete" asp-route-id="@item.id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            // alert("love me 3000");
            $('table').dataTable();
        });
     </script>
    @*  TEST 01234 *@
}